# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pytest
.pytest_cache/

# coverage
.coverage
htmlcov/

# ruff
.ruff_cache/

# venv
test_workmate/
venv/
.env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# logs
*.log